body {
  font-family: Verdana,Arial,sans-serif;;
  font-size: 16px;
}

#controller {
  visibility: hidden;
  display: flex;
}

#controller.ready {
  visibility: visible;
}
h1.title {
  display: inline-block;
  width: 100px;
  margin-right: 50px;
  font-style: italic;
}

fieldset:not(:last-of-type) {
  height: 6em;
  display: inline-block;
  margin-right: 20px;
}

.item > label {
  width: 70px;
  display: inline-block;
}

legend {
  margin-bottom: .5em;
}

.date {
  height: 27px;
  margin-bottom: 2px;
  width: 110px;
}

.ui-widget {
  font-size: 16px !important;
}