body {
  font-family: Verdana,Arial,sans-serif;;
  font-size: 16px;
  height: 100%;
}

#security {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -.5em;
  transition: opacity .2s;
}

#wait {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  transition: opacity .2s;
}

body.password-entered #security {
  display: none;
}

body.password-entered #wait {
  display: block;
}

body.error #wait {
  display: none;
}

body.ready #wait {
  opacity: 0;
}

#error {
  display: none;
}

.error #error {
  display: block;
}

#controller {
  visibility: hidden;
}

body.ready #controller {
  visibility: visible;
}

.title {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  padding-top: 0;
  margin-right: 10px;
  font-style: italic;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 26px;
}

#reset {
  margin-top: 7px;
}

#controller > * {
  margin-bottom: 10px;
}

fieldset:not(:last-of-type) {
  margin-right: 15px;
}

fieldset {
  display: inline-block;
  height: 6em;
  vertical-align: top;
}

.options-group > label {
  width: 80px;
  display: inline-block;
}

legend {
  margin-bottom: .5em;
}

.date {
  height: 27px;
  margin-bottom: 2px;
  width: 110px;
}

.ui-widget {
  font-size: 16px !important;
}

.item {
  white-space: nowrap;
}