.custom-combobox {
  position: relative;
  display: inline-block;
}
.custom-combobox-toggle {
  position: absolute;
  top: -2px;
  height: 28px;
  margin-left: -3px;
  padding: 0;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 6px;
}
.ui-button-icon-only {
  width: 1.6em !important;
}



