.date {
  height: 27px;
  margin-bottom: 2px;
  width: 110px;
  width: 10ch;
}

.line1 {
  color: rgb(20,20,255);
}

.line2 {
  color: rgb(255,110,0);
}

input[type="checkbox"] {
  margin-left: 0;
}

.event-container .custom-combobox-input {
  width: 170px;
}

.ua-container .custom-combobox-input {
  width: 80px;
}

.loc-container .custom-combobox-input {
  width: 150px;
}
