.col {
  display: inline-block;
}

.col:not(:last-of-type) {
  margin-right: 20px;
}

.test-chooser-container .custom-combobox-input {
  width: 250px;
}

.event-container > label {
  width: 14ch;
  display: inline-block;
}

.event-container .custom-combobox-input {
  width: 200px;
}

#doSmooth {
  margin-top: 12px;
}
