.col {
  display: inline-block;
}

.col:not(:last-of-type) {
  margin-right: 20px;
}

.test-chooser-container .custom-combobox-input {
  width: 250px;
}

.event-container > label {
  width: 14ch;
  display: inline-block;
}

.event-container .custom-combobox-input {
  width: 200px;
}

#doSmooth {
  margin-top: 12px;
}

input[type="radio"]:not(:first-of-type) {
  margin-left: 9px;
}

table {
  border-collapse: collapse;
  border-spacing: 10px 0;
}

tr:not(:first-of-type) {
  border-top: 1px solid #999;
}